# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for these files
*.py text eol=lf
*.tf text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary